.App {
  text-align: center;
  height: 768px;
  width: 500px;
  margin: 0 auto;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 24px;
  box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
  background:#a945c7;

}
.url {
  margin: 16px;
  margin-bottom: 0px;
  border-radius: 16px;
  padding: 0 16px;
  width: 436px;
  height: 32px;
  border: 2px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

input{
  width: 480px;
}
video{
  width: 480px;

}